.dialog__container {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    overflow-y: auto;
    overflow: hidden;
  }
  
  .dialog__closeiconbtn {
    position: absolute;
    top: 3px;
    right: 3px;
  }
  .dialog__closeicon {
    width: 20px;
    height: 20px;
    color: #006494;
  }
  
  .dialog__content {
    padding: 0;
  }
  