.quiz-container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.quiz-container h2 {
    font-size: 20px; 
    font-weight: 500;
}

.quiz-container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}

.container button {
    /* margin: auto; */
    width: 50px; 
    height: 55px;
    background-color: #553f9a;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.correct {
    background-color: #dffff2;
    border-color: #00d397;
}

.wrong {
    background-color: #ffebeb;
    border-color: #ff4a4a;
}
